// create responsive shrink classes

@each $breakpoint in $breakpoint-classes {
  @if $breakpoint == small {
    // Do nothing
  } @else {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}-shrink {
        flex: 0 0 auto;
        max-width: 100%;
      }
      .#{$breakpoint}-shrink.columns {
        width: auto;
        float: none;
      }
    }
  }
}

.maincta {
  z-index: 12;
}
.contactpanel {
  z-index: 11;
}
.nav {
  z-index: 10;
}
.photo {
  z-index: 9;
}

.padded {
  padding-left: 1em;
  padding-right: 1em;
  @include breakpoint(large) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(xlarge) {
    padding-left: 80px;
    padding-right: 80px;
  }
}
