.contactpanel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  background-color: $primary-color;

  min-height: 100vh;
  min-height: calc(100vh - var(--vh-offset, 0px));

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint(large) {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 58.33333%;
  }

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;

  &__content {
    margin-top: auto;
    margin-bottom: auto;

    > .row {
      position: relative;
    }
  }

  &__heading {
    color: white;
    margin-bottom: 0.3em;
    line-height: 1.2;
    font-size: 30px;
    @include breakpoint(medium) {
      font-size: 35px;
    }
    @include breakpoint(xlarge) {
      font-size: 40px;
    }
    margin-bottom: 0.8em;
  }

  &__cta {
    color: $pink_light;
    &:hover {
      color: $pink_light;
    }
    font-size: 45px;
    @include breakpoint(medium) {
      font-size: 55px;
    }
    @include breakpoint(xlarge) {
      font-size: 60px;
    }
    margin-bottom: 0.8em;
  }

  &__note {
    color: #91d0e8;
    font-size: 14px;
    line-height: 1.4;
    @include breakpoint(medium) {
      font-size: 16px;
    }
  }
}

.contactpanel .content-script-img {
  width: 295px;
}
