.cta2 {
  font-family: 'Oswald', Helvetica, Roboto, Arial, sans-serif;
  color: $primary-color;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.05em;
  display: inline-block;
  // overflow: hidden;
  position: relative;
  svg,
  span {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    margin-left: 1em;
  }
  svg {
    position: relative;
    transform: translateY(0);
  }
  &:hover svg {
    animation: cta1Animation 0.6s;
  }
}

@keyframes cta1Animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
