.cta1 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  &:hover {
    color: currentColor;
  }
  &:after {
    display: block;
    content: '';
    width: 100%;
    left: 0;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: transform 0.3s;
    transform: scaleX(1);
    transform-origin: left center;
  }
  &:hover:after {
    transform: scaleX(0);
    transform-origin: right center;
  }
}
