.cta2{
	font-family: 'Oswald', Helvetica, Roboto, Arial, sans-serif;
	color: $primary-color;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .05em;
	svg, span{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		margin-left: 1em;
	}
}