.hero {
  .row {
    max-width: 700px;
  }

  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(large) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(xlarge) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @include breakpoint(large) {
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__main-content {
    width: 100%;
  }
  &__bottom {
    @include breakpoint(medium) {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
    }
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__bottom-line {
    color: $secondary-color;
    font-size: 21px;
    @include breakpoint(xlarge) {
      font-size: 25px;
    }
  }
  &__cta {
  }
}

.hero-heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  @include breakpoint(medium) {
    font-size: 50px;
  }
  @include breakpoint(xlarge) {
    font-size: 60px;
  }
  @include breakpoint(medium down) {
    span {
      font-size: 25px;
    }
  }
}

.hero-paragraph {
  font-size: 20px;

  @include breakpoint(medium) {
    font-size: 20px;
  }
  @include breakpoint(xlarge) {
    font-size: 20px;
  }
  @include breakpoint(medium down) {
    margin-bottom: 2em;
  }
}
