.photo {
  // pointer-events: none;
  overflow: hidden;
  position: relative;
  background: linear-gradient(#f7f7f700, #f7f7f7);

  @include breakpoint(large) {
    background: transparent;
  }

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(large) {
    position: fixed;
    top: 0;
    right: 0;
    width: 41.66667%;
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));

    &__img {
      position: absolute;
      bottom: 0;
      width: 550px;
      max-width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    @include breakpoint(medium) {
      bottom: 40%;
      right: 30px;
    }
    @include breakpoint(large) {
      bottom: 30px;
      right: 30px;
    }
    @include breakpoint(xlarge) {
      bottom: 40px;
      right: 40px;
    }
    font-size: 10px;
    color: #979797;
    span {
      color: #4a4a4a;
    }

    &:hover {
      color: #979797;
    }
    transform-origin: left center;
    transform: translateX(100%) rotate(-90deg);
  }
}

.bal-01 {
  display: block;
  width: 30px;
  @include breakpoint(medium) {
    width: 50px;
  }
  @include breakpoint(large) {
    width: 30px;
  }
  @include breakpoint(xlarge) {
    width: 50px;
  }
  height: auto;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: rotate(-6deg);
}
.bal-02 {
  display: block;
  width: 40px;
  @include breakpoint(medium) {
    width: 70px;
  }
  @include breakpoint(large) {
    width: 60px;
  }
  @include breakpoint(xlarge) {
    width: 80px;
  }
  height: auto;
  position: absolute;
  top: 20%;
  right: 10%;
  transform: rotate(6deg);
}
.hang-01 {
  display: block;
  width: 40px;
  @include breakpoint(large) {
    width: 50px;
  }
  @include breakpoint(large) {
    width: 50px;
  }
  @include breakpoint(xlarge) {
    width: 70px;
  }
  height: auto;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: rotate(-12deg);
}
