.shapes {
  background-color: #f7f7f7;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__item {
  }
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid red;
  &.pink {
    border-bottom: 30px solid $pink;
  }
  &.blue {
    border-bottom: 30px solid $blue;
  }
}

.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  &.pink {
    background: $pink;
  }
  &.blue {
    background: $blue;
  }
}

.square {
  width: 100px;
  height: 100px;
  background: red;
  &.pink {
    background: $pink;
  }
  &.blue {
    background: $blue;
  }
}

.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
  &:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
  }
  &.pink {
    border-color: $pink transparent;
    &:before {
      border-color: transparent transparent $pink;
    }
  }
  &.blue {
    border-color: $blue transparent;
    &:before {
      border-color: transparent transparent $blue;
    }
  }
}

.triangle-up.s1 {
  position: absolute;
  top: 20%;
  left: 15%;
}

.square.s1 {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 400px;
  height: 400px;
  background-color: #e0ffbd;
}

.circle.s1 {
  position: absolute;
  top: 70%;
  left: -100px;
  width: 400px;
  height: 400px;
  background: #a4f8e5;
}

.transformed-shape {
  transform: translateY(var(--ty)) rotate(var(--r)) scale(var(--s));
}
