.shapes {
  background-color: #f7f7f7;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.square.s1 {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 400px;
  height: 400px;
  background-color: #e0ffbd;
}
.square.s2 {
  position: absolute;
  top: 80%;
  right: -100px;
  width: 500px;
  height: 500px;
  background-color: #ff88ac;
}

.circle.s1 {
  position: absolute;
  top: 110vh;
  left: 5%;
  width: 300px;
  height: 300px;
  background: #4bccff;
}

.circle.s2 {
  position: absolute;
  top: 70%;
  left: -100px;
  width: 400px;
  height: 400px;
  background: #a4f8e5;
}

.circle.s3 {
  position: absolute;
  top: 60%;
  right: -100px;
  width: 300px;
  height: 300px;
  background: #ffe281;
  z-index: 1;
}

.transformed-shape {
  transform: translateY(var(--ty)) rotate(var(--r)) scale(var(--s));
}
