<section class="contactpanel padded">
	<div class="contactpanel__content">
	<div class="row">
			<div class="small-12 medium-8 large-10 xlarge-9 large-offset-1 columns">

			{{!--	<img class="content-script-img" src="{{root}}assets/img/get-in-touch@2x.png" alt="Get in touch"> --}}

				<h2 class="contactpanel__heading content-heading">
				{{#ifequal language 'it'}}
				{{{ content.content3_heading.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content3_heading.en }}}
				{{/ifequal}}
				</h2>
				<a class="contactpanel__cta cta1" href="mailto:{{{ content.contact_email }}}">
					{{#ifequal language 'it'}}
					{{{ content.content3_cta.it }}}
					{{/ifequal}}
					{{#ifequal language 'en'}}
					{{{ content.content3_cta.en }}}
					{{/ifequal}}
				</a>
				<p class="contactpanel__note">
					{{#ifequal language 'it'}}
					{{{ content.content3_note.it }}}
					{{/ifequal}}
					{{#ifequal language 'en'}}
					{{{ content.content3_note.en }}}
					{{/ifequal}}
				</p>

			</div>
		</div>
	</div>
</section>