<div class="content -content1 padded" id="about-section">

	<div class="row">
		<div class="small-12 large-11 large-offset-1 columns">
			
			<img class="content-script-img" src="/assets/img/about-me@2x.png" alt="About me">

			<h2 class="content-heading">
				{{#ifequal language 'it'}}
				{{{ content.content1_heading.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content1_heading.en }}}
				{{/ifequal}}
			</h2>
			<h3 class="content-subheading">
				{{#ifequal language 'it'}}
				{{{ content.content1_subheading.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content1_subheading.en }}}
				{{/ifequal}}
			</h3>

			<p class="content-body">
				{{#ifequal language 'it'}}
				{{{ content.content1_body.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content1_body.en }}}
				{{/ifequal}}
			</p>

			<p class="content-highlight">
				{{#ifequal language 'it'}}
				{{{ content.content1_bottom-line.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content1_bottom-line.en }}}
				{{/ifequal}}
			</p>

		</div>
	</div>

</div>