<div class="content -content2 padded" id="services-section">

	<div class="row">
		<div class="small-12 large-11 large-offset-1 columns">

			<img class="content-script-img" src="/assets/img/what-i-do@2x.png" alt="What I do">

			<h2 class="content-heading -small">
				{{#ifequal language 'it'}}
				{{{ content.content2_heading.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content2_heading.en }}}
				{{/ifequal}}
			</h2>
			<h3 class="content-subheading">
				{{#ifequal language 'it'}}
				{{{ content.content2_subheading.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content2_subheading.en }}}
				{{/ifequal}}
			</h3>

			<p class="content-body">
				{{#ifequal language 'it'}}
				{{{ content.content2_body.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content2_body.en }}}
				{{/ifequal}}
			</p>

			<p class="content-highlight">
				{{#ifequal language 'it'}}
				{{{ content.content2_bottom-line.it }}}
				{{/ifequal}}
				{{#ifequal language 'en'}}
				{{{ content.content2_bottom-line.en }}}
				{{/ifequal}}
			</p>

		</div>
	</div>

</div>