<nav class="nav">
	<div class="row expanded collapse">

		<div class="small-12 medium-10 large-7 columns small-order-2 medium-order-1">

			<div class="row align-middle nav__left padded">
				<div class="small-12 medium-expand columns">

					<img class="nav__logo" 
					src="{{root}}assets/img/logo.png" 
					alt="Logo In Your Shoes" 
					data-interchange="[{{root}}assets/img/logo.png, small], [{{root}}assets/img/logo@2x.png, retina]"
					 width="255" height="60">
					
				</div>
				<div class="small-12 medium-expand columns">
					<ul class="nav__menu">
						{{#ifequal language 'it'}}
						{{#each menu.it}}
						<li><a class="nav__menu-item" href="#{{ this.id }}" data-scroll-to>{{ this.label }}<span>.</span></a></li>
						{{/each}}
						{{/ifequal}}
						{{#ifequal language 'en'}}
						{{#each menu.en}}
						<li><a class="nav__menu-item" href="#{{ this.id }}" data-scroll-to>{{ this.label }}<span>.</span></a></li>
						{{/each}}
						{{/ifequal}}
					</ul>
				</div>
			</div>

		</div>

		<div class="small-12 medium-2 large-5 columns align-self-middle small-order-1 medium-order-2">
			<ul class="nav__lang padded">
				<li><a class="nav__lang-item{{#ifequal language 'it'}} is-active{{/ifequal}}" href="{{root}}"><span>it</span></a></li>
				<li><a class="nav__lang-item{{#ifequal language 'en'}} is-active{{/ifequal}}" href="{{root}}en"><span>en</span></a></li>
			</ul>
		</div>

	</div>
</nav>